div{
width: 400px;
height: 400px;
background-image: url(../imge/css-assignment-5-8.png);
color: black;
margin: 40px;
}

.assign-4-shape-1{

background-size:  80%;
background-repeat: no-repeat;
}

.assign-4-shape-2{
    background-repeat: repeat-y;
    background-position: right;
    background-size:  70% 100% ;

}

.assign-4-shape-3{
    background-repeat: repeat-x;
    background-position:bottom;
    background-size: 100% 70% ;
    

}

.assign-4-shape-4{

    background-position:right bottom;
    background-size: 50%  ;
    background-repeat: no-repeat;
}